<a href="https://colab.research.google.com/github/SuhasAmane1034/Development-of-Interactive-Cyber-Threat-Visualization-Dashboard/blob/main/SQLBasic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### What is SQL?

**SQL** (Structured Query Language) is a standard language for managing and manipulating relational databases. It's used to store, retrieve, update, and delete data from databases. Almost all relational database management systems (RDBMS) like MySQL, PostgreSQL, Oracle, SQL Server, and SQLite use SQL.

### Core SQL Concepts

Before we jump into commands, let's understand some basic concepts:

*   **Database**: An organized collection of structured information, or data, typically stored electronically in a computer system.
*   **Table**: A collection of related data held in a structured format within a database. It consists of rows and columns.
*   **Column (Field)**: A set of data values of a particular simple type, one for each row of the database table. For example, a 'name' column or an 'age' column.
*   **Row (Record/Tuple)**: A single entry in a table, containing a value for each column. For example, one person's entire information (name, age, city) would be a row.
*   **Primary Key**: A column (or set of columns) that uniquely identifies each row in a table. It cannot contain NULL values and must contain unique values.
*   **Foreign Key**: A column (or set of columns) in one table that refers to the primary key in another table. It establishes a link between two tables.

### SQL Data Types

Different databases have slightly different data types, but here are some common ones:

*   **INTEGER**: Whole numbers (e.g., `1`, `100`, `-5`).
*   **TEXT**: Character strings (e.g., `'Hello'`, `'SQL Tutorial'`).
*   **REAL/FLOAT**: Floating-point numbers (e.g., `3.14`, `0.5`).
*   **BOOLEAN**: True or False values.
*   **DATE**: Date values (e.g., `'2023-01-15'`).
*   **DATETIME**: Date and time values (e.g., `'2023-01-15 14:30:00'`).

### Setting up a SQLite Database

We'll use SQLite, a serverless, self-contained, file-based relational database. Python has a built-in `sqlite3` module that makes it easy to work with SQLite databases. We'll create an in-memory database, which means it will be temporary and exist only for the duration of our session.

In [1]:
import sqlite3

# Connect to an in-memory SQLite database
conn = sqlite3.connect(':memory:')
cursor = conn.cursor()

print("Connected to in-memory SQLite database successfully!")

Connected to in-memory SQLite database successfully!

### Basic SQL Commands

Let's explore some fundamental SQL commands:

#### 1. CREATE TABLE (DDL - Data Definition Language)

Used to create a new table in the database. You define the table name, column names, and their data types.

In [2]:
# Create a 'students' table
cursor.execute('''
CREATE TABLE students (
    id INTEGER PRIMARY KEY,
    name TEXT NOT NULL,
    age INTEGER,
    major TEXT
);
''')
conn.commit()
print("Table 'students' created successfully!")

Table 'students' created successfully!

#### 2. INSERT INTO (DML - Data Manipulation Language)

Used to add new rows (records) into a table.

In [3]:
# Insert single row
cursor.execute("INSERT INTO students (name, age, major) VALUES ('Alice', 20, 'Computer Science')")

# Insert multiple rows
students_data = [
    ('Bob', 22, 'Physics'),
    ('Charlie', 21, 'Mathematics'),
    ('David', 23, 'Chemistry')
]
cursor.executemany("INSERT INTO students (name, age, major) VALUES (?, ?, ?)", students_data)

conn.commit()
print("Data inserted successfully!")

Data inserted successfully!

#### 3. SELECT (DML - Data Manipulation Language)

Used to retrieve data from a database. This is one of the most frequently used SQL commands.

In [4]:
import pandas as pd

# Select all columns from the 'students' table
cursor.execute("SELECT * FROM students")
rows = cursor.fetchall()
print("All students:")
display(pd.DataFrame(rows, columns=[desc[0] for desc in cursor.description]))

# Select specific columns
cursor.execute("SELECT name, major FROM students")
rows = cursor.fetchall()
print("\nStudents' names and majors:")
display(pd.DataFrame(rows, columns=[desc[0] for desc in cursor.description]))

# Select with WHERE clause (filtering rows)
cursor.execute("SELECT * FROM students WHERE age > 21")
rows = cursor.fetchall()
print("\nStudents older than 21:")
display(pd.DataFrame(rows, columns=[desc[0] for desc in cursor.description]))

# Select with ORDER BY clause (sorting results)
cursor.execute("SELECT * FROM students ORDER BY name DESC")
rows = cursor.fetchall()
print("\nStudents ordered by name (descending):")
display(pd.DataFrame(rows, columns=[desc[0] for desc in cursor.description]))

All students:

   id     name  age             major
0   1    Alice   20  Computer Science
1   2      Bob   22           Physics
2   3  Charlie   21       Mathematics
3   4    David   23         Chemistry

Students' names and majors:

      name             major
0    Alice  Computer Science
1      Bob           Physics
2  Charlie       Mathematics
3    David         Chemistry

Students older than 21:

   id   name  age      major
0   2    Bob   22    Physics
1   4  David   23  Chemistry

Students ordered by name (descending):

   id     name  age             major
0   4    David   23         Chemistry
1   3  Charlie   21       Mathematics
2   2      Bob   22           Physics
3   1    Alice   20  Computer Science

#### 4. UPDATE (DML - Data Manipulation Language)

Used to modify existing data in a table.

In [5]:
# Update Alice's major
cursor.execute("UPDATE students SET major = 'Data Science' WHERE name = 'Alice'")
conn.commit()
print("Alice's major updated.")

# Verify the update
cursor.execute("SELECT * FROM students WHERE name = 'Alice'")
rows = cursor.fetchall()
display(pd.DataFrame(rows, columns=[desc[0] for desc in cursor.description]))

Alice's major updated.

   id   name  age         major
0   1  Alice   20  Data Science

#### 5. DELETE FROM (DML - Data Manipulation Language)

Used to remove existing rows from a table.

In [6]:
# Delete a student
cursor.execute("DELETE FROM students WHERE name = 'David'")
conn.commit()
print("David deleted from the table.")

# Verify deletion
cursor.execute("SELECT * FROM students")
rows = cursor.fetchall()
display(pd.DataFrame(rows, columns=[desc[0] for desc in cursor.description]))

David deleted from the table.

   id     name  age         major
0   1    Alice   20  Data Science
1   2      Bob   22       Physics
2   3  Charlie   21   Mathematics

### Clean up

Remember to close the connection to the database when you are done. For an in-memory database, this just frees up resources.

In [7]:
# Close the database connection
conn.close()
print("Database connection closed.")

Database connection closed.